/*
1 = 5
2 = 10
3 = 15
4 = 20
5 = 25

*{
    margin: 0;
    padding: 0;
}
*/

ul {
    margin: 0 !important;
    padding: 20px !important;
}

.m0 {
    margin: 0 !important;
}

.mb0 {
    margin-bottom: 0;
}
.pb1{
    padding-bottom: 5px;
}

.mt-1 {
    margin-top: -5px;
}

.m2 {
    margin: 10px;
}

.mtb1 {
    margin: 5px 0;
}

.mtb2 {
    margin: 10px 0;
}

.p2 {
    padding: 10px;
}

.pl3 {
    padding-left: 15px !important;
}

.mt-5 {
    margin-top: -25px;
}