
a, a:visited{
  color: var(--foreground);
  transition: all 0.2s;
  line-height: normal;
}
a:hover{
  color: var(--link-color);
}
.underline{
  text-decoration: underline;
}
.under-over-line{
  text-decoration: underline overline;
}
p{
  line-height: 1.5;
}
.long-text{
  font-family: OpenDyslexic;
}
.text-center{
  text-align: center;
}
/*icons*/
span::after{
  font-family: robotoMonoNerd;
}
.external::after{
  content: " ";
  font-size: 15px;
}
.mail::after{
  content: " 󱃝";
  font-size: 15px;
}
.github::after{
  content: " ";
  font-size: 15px;
}
.imdb::after{
  content: "";
  position: absolute;
  font-size: 30px;
  top: -7px;
  left: 10px;
  height: 5px !important;
  display: inline-block;
}
