
a, a:visited{
  color: var(--foreground);
  transition: all 0.2s;
  line-height: normal;
}
a:hover{
  color: var(--link-color);
}
.underline{
  text-decoration: underline;
}
.under-over-line{
  text-decoration: underline overline;
}
p{
  line-height: 1.5;
}
.long-text{
  font-family: OpenDyslexic;
}
.text-center{
  text-align: center;
}
/*icons*/
.icon::after{
  font-family: robotoMonoNerd;
}
.external::after{
  content: " ";
  font-size: 15px;
}
.mail{
  position: relative;
}
.mail::after{
  content: " ";
  font-size: 18px;
  position: absolute;
  top: 3px;
}
.github::after{
  content: " ";
  font-size: 15px;
}
.youtube::after{
  content: " ";
  font-size: 15px;
}
.wikipedia::after{
  content: " ";
  font-size: 15px;
}
