/*layout*/
@media screen and (min-width: 700px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 163px 1fr 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: calc(100vh - 20px);
  }

  header {
    grid-area: 1 / 1 / 2 / 4;
  }

  nav {
    grid-area: 2 / 1 / 3 / 2;
  }

  main {
    grid-area: 2 / 2 / 3 / 3;
  }

  aside {
    align-self: self-start;
    grid-area: 2 / 3 / 3 / 4;
  }

  footer {
    grid-area: 3 / 1 / 4 / 4;
    align-self: end;

  }

  .checkbox-nav {
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 1100px) {
  body {
    grid-template-columns: 30% 1fr 3%;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 0 5px;
  }
  h1{
    margin-top: 0;
  }
}