/*nav resposive layout */
@media screen and (max-width: 700px) {
  header {
    padding-left: 70px !important;
  }
  header.small-nav {
    padding-left: 0px !important;
  }
  /* nav */
  nav.big-nav {
    position: absolute;
    height: calc(100vh - 80px);
    width: 250px;
    padding-top: 80px;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: all 0.5s;
  }
  nav.big-nav a,
  nav.big-nav li{
    transition: 0.5s all;
    transition-delay: 0.5s !important;
  }
  .checkbox-nav:checked~nav.big-nav {
    background: var(--foreground);
    left: 0;
    transition-delay: 0s !important;
  }

  .checkbox-nav:checked~nav.big-nav a,
  .checkbox-nav:checked~nav.big-nav li {
    color: var(--background);
    transition-delay: 0s !important;
  }

  .checkbox-nav:checked~main {
    overflow-y: hidden;
    height: calc(100vh - 46vh);
  }
  /* checkbox */
  .checkbox-nav {
    width: 50px;
    height: 50px;
    transition: all 0.5s;
    position: absolute;
    top: 20px;
    z-index: 102;
    margin: 0;
    appearance: initial;
    cursor: pointer;
  }

  
  /* manu btn*/
  .bar {
    border-radius: 100vmax;
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: var(--foreground);
    transition: all 0.5s;
    border-radius: 100vmax;
    z-index: 101;
  }
  .bar1 {
    top: 20px;
  }

  .bar.bar2 {
    top: 40px;
  }

  .bar.bar3 {
    top: 60px;
  }
  .checkbox-nav:checked~.bar-container .bar1 {
    transform: rotate(45deg) translate(20%, 180%);
  }

  .checkbox-nav:checked~.bar-container .bar2 {
    transform: scale(0);
  }

  .checkbox-nav:checked~.bar-container .bar3 {
    transform: rotate(-45deg) translate(20%, -180%);
  }

  .checkbox-nav:checked~.bar-container .bar {
    background-color: var(--background);
  }

  /*backdrop*/
  .checkbox-nav:checked~.backdrop {
    left: 0;
    transition-delay: 0.3s;
    /*animation-name: animation-backdrop;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;*/
  }  
}


.backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -100vw;
  background-color: var(--foreground);
  opacity: 0.5;
  top: 0;
  z-index: 10;
  transition: 0.5s all;
}

nav.big-nav{
  transition-delay: 0.3s;
}