
a, a:visited{
  color: var(--foreground);
  transition: all 0.2s;
}
a:hover{
  color: var(--link-color);
}

.underline{
  text-decoration: underline;
}
.under-over-line{
  text-decoration: underline overline;
}

.icon{ /*to delete*/
  font-size: 15px;
}
.icon-big{ /*to delete*/
    position: relative;
    font-size: 30px;
    top: 5px;
    left: 10px;
    height: 5px !important;
    display: inline-block;
}

.imdb::after{
  content: "";
  position: absolute;
  font-size: 30px;
  top: -7px;
  left: 10px;
  height: 5px !important;
  display: inline-block;
}
.mail::after{
  content: " 󱃝";
  font-size: 15px;
}
.github::after{
  content: " ";
  font-size: 15px;
}
.external::after{
  content: " ";
  font-size: 15px;
}
.text-center{
  text-align: center;
}
