
a, a:visited{
  color: var(--foreground);
  transition: all 0.2s;
}
a:hover{
  color: var(--link-color);
}

.underline{
  text-decoration: underline;
}
.under-over-line{
  text-decoration: underline overline;
}

.icon{
  font-size: 15px;
}

.text-center{
  text-align: center;
}
